$color-primary: #ffcc33bf;
$color-primary-light: #ffc400;
$color-primary-dark: #ffc400e6;

$color-text-primary: #2e2e2e;

$color-gray-dark: #5c5c5c;
$color-white-dark: #eee;

$color-white: #fff;
$color-black: #000;

